body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
  }

main{
    padding-left:30%;
    padding-right:30%;
}

a {
    color: #8d50b8;
}

.container {
    background-color: #121212;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    max-height: 100dvh;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    main{
        padding:20px;
    }

    h1 {
        font-size: 22px;
    }

    input,
    select,
    button {
        font-size: 14px;
        padding: 10px;
    }

    .result {
        font-size: 16px;
        padding: 12px;
    }

    .pasti {
        font-size: 16px;
        padding: 12px;
    }

    .additionalInfo {
        font-size: 16px;
        padding: 12px;
    }

    .sources {
        font-size: 12px;
    }
}

span {
    display: inline-block;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #b57fdb;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #ffffff;
}

.myText {
    font-size: 14px;
    font-weight: normal;
    display: block;
    color: #ffffff;
}

input,
label {
    width: 50%;
}

.input {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.211);
    outline: none;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgba(78, 0, 127, 0.181);
    color: #ffffff;
    /* Colore del testo */
    appearance: none;
    /* Rimuove lo stile predefinito del browser */
    -webkit-appearance: none;
    /* Per Safari */
    padding: 10px 20px;
    /* Spaziatura interna */
}

.input option {
    background-color: #0c0c0c;
    /* Sfondo delle opzioni */
    color: #ffffff;
    /* Colore del testo delle opzioni */
    padding: 5px;
    /* Spaziatura interna delle opzioni */
}

.input:hover {
    border-color: #b57fdb;
    /* Cambia colore del bordo al passaggio del mouse */
}

.input:focus {
    border-color: #b57fdb;
    /* Cambia colore del bordo quando selezionato */
    box-shadow: 0 0 5px rgba(181, 127, 219, 0.5);
    /* Effetto luce attorno */
}

input,
select,
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #555;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #b57fdb;
    /* Bordo viola/lilla */
    outline: none;
}

/* button {
    background-color: #b57fdb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    padding: 15px;
}

button:hover {
    background-color: #9a67d9;
} */

.sources {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
    display: none;
}

.sources a {
    color: #b57fdb;
    /* Link viola/lilla per le fonti */
    text-decoration: none;
}

.sources a:hover {
    text-decoration: underline;
}

.info-section {
    margin-bottom: 50px;
    padding: 15px;
    background-color: #1d1d1d;
    border: 1px solid violet;
    border-radius: 8px;
    color: #ffffff;
    /* Colore di default */
    display: none;
    transition: all 0.3s ease;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-section ul li {
    padding: 0;
    margin: 0;
}

.result {
    background-color: #1d1d1d;
    border: 1px solid violet;
    /* Bordo viola/lilla per il risultato */
    color: #ffffff;
    /* Testo viola/lilla per il risultato */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-top: 20px;
}

.pasti {
    background-color: #1d1d1d;
    border: 1px solid violet;
    /* Bordo viola/lilla per il risultato */
    color: #ffffff;
    /* Testo viola/lilla per il risultato */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-top: 20px;
}

.additionalInfo {
    background-color: #1d1d1d;
    border: 1px solid violet;
    /* Bordo viola/lilla per il risultato */
    color: #ffffff;
    /* Testo viola/lilla per il risultato */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-top: 20px;
}

.info-btn {
    width: 100%;
}

#container2 {
    display: flex;
    gap: 10px;
    /* Spaziatura tra gli elementi */
    align-items: center;
}

#containerCampi {
    display: flex;
    align-items: center;
    /* Allinea verticalmente gli elementi */
    justify-content: start;
    /* Posiziona gli elementi all'inizio del contenitore */
    gap: 10px;
}

#containerCampi label {
    font-size: 14px;
    /* Puoi regolare la dimensione del testo della label se necessario */
    color: #ffffff;
    /* Colore del testo della label */
    width: 50%;
}
#containerCampi input {
    font-size: 14px;
    /* Puoi regolare la dimensione del testo della label se necessario */
    color: #ffffff;
    /* Colore del testo della label */
    width: 45%;
}
#containerCampi select {
    font-size: 14px;
    /* Puoi regolare la dimensione del testo della label se necessario */
    color: #ffffff;
    /* Colore del testo della label */
    width: 45%;
}
.bn30 {
    border: 5px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 2px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}














:root {
    --color-fur: #ffffff;
    --color-fur-dark: #ebebeb;
    --color-spot: #000000;
    --color-snout: #2b1100;
    --color-collar: #723482;
    --duration: .7s;
    --semi-duration: calc(var(--duration) / 2);
    --easing: cubic-bezier(.5, 0, .5, 1);
    --stagger: calc(-1 * var(--semi-duration) / 2);
  }
  
  *, *:before, *:after {
    animation-timing-function: var(--easing) !important ;
  }
  
  [class="🐕"] {
    z-index: 1;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    * {
      position: absolute;
      will-change: transform;
    }
    
    &:before {
      content: '';
      position: absolute;
      bottom: percentage(40px / 300px);
      left: 0;
      width: 100%;
      height: percentage(10px / 300px);
      background-color: #D3D1D1;
      border-radius: 2px;
      animation: shadow
        calc(1 * var(--semi-duration))
        infinite;
      
      @keyframes shadow {
        from, to {
          transform: scaleX(.75)
        }
        45%, 55% {
          transform: scaleX(.5)
        }
      }
    }
  }
  
  .neck {
    width: 50%;
    height: 100px;
    right: -5px;
    bottom: calc(100% - 10px);
    transform-origin: center bottom;
    transform: rotate(15deg);
    z-index: 2;
    
    > .fur {
      border-bottom-left-radius: 10px;
      height: 100%;
      width: 100%;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 100%;
        background-color: var(--color-fur-dark);
        z-index: 1;
        transform-origin: right bottom;
        transform: rotate(15deg);
      }
    }
  }
  
  .collar {
    width: calc(100% + 10px);
    height: 15%;
    background-color: var(--color-collar);
    left: -5px;
    bottom: 30px;
    border-radius: 5px;
    animation: collar var(--semi-duration) calc(var(--semi-duration) / 4) infinite;
    z-index: 2;
    
    @keyframes collar {
      from, to {
        transform: none;
      }
      50% {
        transform: translateY(-25%);
      }
    }
    
    &:after {
      content: '';
      width: 18%;
      height: 120%;
      border-radius: 50%;
      background: var(--color-snout);
      position: absolute;
      right: 0%;
      top: 110%;
      transform-origin: center top;
      animation: tag var(--semi-duration) infinite both;
      
      @keyframes tag {
        from, to {
          transform: rotate(-15deg);
        }
        50% {
          transform: rotate(-15deg) scaleY(1.5);
        }
      }
    }
  }
  
  .head {
    height: 80%;
    width: 145%;
    left: -2%;
    bottom: 50%;
    transform-origin: left center;
    z-index: 2;
    animation: head var(--semi-duration) calc(var(--semi-duration) / 4) infinite;
    
    @keyframes head {
      from, to {
        transform: rotate(-10deg);
      }
      50% {
        transform: rotate(-15deg);
      }
    }
    
    > .fur {
      height: 100%;
      width: 100%;
      border-bottom-right-radius: 80px;
      
      &:before {
        content: '';
        position: absolute;
        top: -80%;
        left: -30%;
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-color: var(--color-spot);
        z-index: 1;
        border-radius: 50%;
      }
    }
  }
  
  .snout {
    --color: var(--color-snout);
    width: 25%;
    height: 0;
    padding-top: 25%;
    background-color: var(--color);
    top: 0;
    right: -5px;
    border-bottom-left-radius: 100%;
    z-index: 1;
  }
  
  .ears {
    bottom: 40%;
    height: 100%;
    width: 30%;
    left: 0;
    z-index: -1;
  }
  
  .ear {
    --color: var(--color-spot);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: rotate(-10deg);
    animation: ear-front calc(var(--duration) / 2) infinite;
    
    @keyframes ear-front {
      50% {
        transform: rotate(-15deg);
      }
    }
    
      &:before {
        content: '';
        position: absolute;
        height: 25px;
        width: 15px;
        z-index: 2;
        top: -2px;
        right: -7px;
        border-top-left-radius: 100%;
        border-width: 2px;
        border-color: transparent;
        border-style: solid;
        border-left: 2px solid var(--color-snout);
        transform-origin: bottom left;
        animation: ear-mark var(--semi-duration) calc(-1 * var(--semi-duration)) infinite;
        
        @keyframes ear-mark {
          from, to {
            transform: rotate(0deg);
          }
          50% {
            transform: rotate(25deg);
          }
        }
      }
    
    > .fur {
      border-top-left-radius: 100%;
      height: 100%;
      width: 100%;
    }
    
    &:nth-child(2) {
      left: 15px;
      bottom: 5px;
      transform: rotate(-5deg);
      --color: var(--color-fur);
      z-index: -1;
      animation: ear-back calc(var(--duration) / 2) infinite both;
      
      @keyframes ear-back {
        from, to {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(-10deg);
        }
      }
    }
  }
  
  .eye {
    --size: 6%;
    --color: var(--color-snout);
    width: var(--size);
    height: 0;
    padding: var(--size);
    left: 35%;
    top: 20%;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--color);
      z-index: 1;
    }
    
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: -50%;
      top: -50%;
      border-top-left-radius: 100%;
      border-width: 2px;
      border-color: var(--color);
      border-style: solid;
      border-bottom-color: var(--color-spot);
      border-right-color: var(--color-spot);
      transform: scale(1.25);
      z-index: 0;
    }
  }
  
  .torso {
    width: percentage(170px / 300px);
    height: percentage(100px / 300px);
    animation: torso var(--semi-duration) both infinite;
    
    @keyframes torso {
      from, to {
        transform: none;
      }
      50% {
        transform: translateY(15%);
      }
    }
    
    > .fur {
      height: 100%;
      width: 185px;
      border-top-left-radius: 40px;
      transform-origin: left center;
      transform: rotate(-20deg) translateY(10px);
      z-index: 1;
      
      &:after {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 200px 85px;
        border-bottom-right-radius: 100px;
      }
    }
    
    > .legs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .spot {
      width: 120px;
      height: 120px;
      bottom: 40px;
      left: -20px;
      border-radius: 50%;
      background-color: var(--color-spot);
      z-index: 1;
      animation: spot var(--duration) calc(-1 * var(--semi-duration)) both infinite;
      
      @keyframes spot {
        from, 66%, to {
          transform: none;
        }
        33% {
          transform: translateX(10px);
        }
      }
      
      &:after {
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: inherit;
        position: absolute;
        bottom: -10px;
        right: 5px;
      }
    }
    
    > .tail {
      --color: var(--color-spot);
      bottom: calc(100% - 15px);
      left: 0;
      transform-origin: center bottom;
      transform: rotate(-45deg);
    }
  }
  
  .tail {
    height: 15px;
    width: 20px;
    background-color: var(--color);
    border-top-right-radius: 10px 100%;
    border-top-left-radius: 10px 100%;
    animation: tail var(--semi-duration) infinite;
    
    @keyframes tail {
      from, to {
        transform: rotate(-45deg) translateX(-15%);
      }
      50% {
        transform: rotate(-25deg) translateX(15%);
      }
    }
    
    > .tail {
      bottom: calc(90%);
      transform-origin: bottom left;
      transform: rotate(-10deg) translateY(50%) scaleX(.8) scaleY(.9);
      animation: tail-inner var(--semi-duration) var(--stagger) infinite;
      
      @keyframes tail-inner {
        from, to {
          transform: rotate(-10deg) translateY(50%) scaleX(.8) scaleY(.9);
        }
        50% {
          transform: rotate(5deg) translateY(50%) scaleX(.8) scaleY(.9)
        }
      }
    }
  }
  
  .legs {
    > .leg {
      bottom: 5px;
      --color: var(--color-fur);
    }
    
    > .leg:nth-child(1), .leg:nth-child(3) {
      // top: calc(100% - 65px);
      right: 15px;
    }
    
    > .leg:nth-child(3), > .leg:nth-child(4) {
      --color: var(--color-fur-dark);
      z-index: -1;
    }
    
    > .leg:nth-child(1), .leg:nth-child(4) {
      --delay: 0s;
    }
    
    > .leg:nth-child(2), > .leg:nth-child(3) {
      --delay: calc(-1 * var(--duration) / 2 )
    }
    
    > .leg:nth-child(2) {
      left: 0;
    }
    
    > .leg:nth-child(4) {
      left: 0;
    }
  
  }
  
  .leg {
    position: absolute;
    height: 65px;
    width: 45px;
    background-color: var(--color);
    transform-origin: center 5px;
    // transform: rotate(-10deg);
    // border-bottom-right-radius: 10px;
    animation: leg infinite var(--duration) var(--delay, 0s);
    
    > .leg-inner {
      animation: leg-inner infinite
        var(--duration)
        calc(var(--delay));
      transform: rotate(90deg);
      
      @keyframes leg-inner {
        from, to {
          transform: none;
        }
        33% {
          transform: rotate(70deg);
        }
        76% {
          transform: none;
        }
      }
    }
    
    @keyframes leg {
      from, to {
        transform: none;
      }
      33% {
        transform: rotate(-55deg);
      }
      66% {
        transform: rotate(-20deg);
      }
    }
  
    > .fur {
      width: percentage(65px / 45px);
      height: 100%;
  
      &:after {
        width: 45px;
        bottom: 0;
        top: initial;
        transform: rotate(15deg);
        // height: 100%;
      }
    }
  }
  
  .fur {
    position: absolute;
    overflow: hidden;
  
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 150%;
      top: 0;
      left: 0;
      background-color: var(--color, var(--color-fur));
      transform-origin: center bottom;
    }
  }
  
  .leg-inner {
    position: absolute;
    height: 65%;
    width: 100%;
    // background-color: #FFB141;
    top: calc(100%);
    transform-origin: center top;
  
    &:before {
      // joint
      content: "";
      width: 45px;
      height: 45px;
      background-color: var(--color);
      // background-color: blue;
      position: absolute;
      border-radius: 50%;
      top: -22.5px;
    }
  
    > .fur {
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
  
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 150%;
        top: 0;
        left: 0;
        background-color: var(--color);
        transform-origin: center top;
        transform: rotate(15deg);
      }
    }
  }
