body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
  }

main{
    padding-left:30%;
    padding-right:30%;
}

a {
    color: #8d50b8;
}

.container {
    background-color: #121212;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    max-height: 100dvh;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    main{
        padding:20px;
    }

    h1 {
        font-size: 22px;
    }

    input,
    select,
    button {
        font-size: 14px;
        padding: 10px;
    }

    .result {
        font-size: 16px;
        padding: 12px;
    }

    .pasti {
        font-size: 16px;
        padding: 12px;
    }

    .additionalInfo {
        font-size: 16px;
        padding: 12px;
    }

    .sources {
        font-size: 12px;
    }
}

span {
    display: inline-block;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #b57fdb;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #ffffff;
}

.myText {
    font-size: 14px;
    font-weight: normal;
    display: block;
    color: #ffffff;
}

input,
label {
    width: 50%;
}

.input {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.211);
    outline: none;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgba(78, 0, 127, 0.181);
    color: #ffffff;
    /* Colore del testo */
    appearance: none;
    /* Rimuove lo stile predefinito del browser */
    -webkit-appearance: none;
    /* Per Safari */
    padding: 10px 20px;
    /* Spaziatura interna */
}

.input option {
    background-color: #0c0c0c;
    /* Sfondo delle opzioni */
    color: #ffffff;
    /* Colore del testo delle opzioni */
    padding: 5px;
    /* Spaziatura interna delle opzioni */
}

.input:hover {
    border-color: #b57fdb;
    /* Cambia colore del bordo al passaggio del mouse */
}

.input:focus {
    border-color: #b57fdb;
    /* Cambia colore del bordo quando selezionato */
    box-shadow: 0 0 5px rgba(181, 127, 219, 0.5);
    /* Effetto luce attorno */
}

input,
select,
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #555;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #b57fdb;
    /* Bordo viola/lilla */
    outline: none;
}

/* button {
    background-color: #b57fdb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    padding: 15px;
}

button:hover {
    background-color: #9a67d9;
} */

.sources {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
    display: none;
}

.sources a {
    color: #b57fdb;
    /* Link viola/lilla per le fonti */
    text-decoration: none;
}

.sources a:hover {
    text-decoration: underline;
}

.info-section {
    margin-bottom: 50px;
    padding: 15px;
    background-color: #1d1d1d;
    border: 1px solid violet;
    border-radius: 8px;
    color: #ffffff;
    /* Colore di default */
    display: none;
    transition: all 0.3s ease;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-section ul li {
    padding: 0;
    margin: 0;
}

.result {
    background-color: #1d1d1d;
    border: 1px solid violet;
    /* Bordo viola/lilla per il risultato */
    color: #ffffff;
    /* Testo viola/lilla per il risultato */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-top: 20px;
}

.pasti {
    background-color: #1d1d1d;
    border: 1px solid violet;
    /* Bordo viola/lilla per il risultato */
    color: #ffffff;
    /* Testo viola/lilla per il risultato */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-top: 20px;
}

.additionalInfo {
    background-color: #1d1d1d;
    border: 1px solid violet;
    /* Bordo viola/lilla per il risultato */
    color: #ffffff;
    /* Testo viola/lilla per il risultato */
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    display: none;
    margin-top: 20px;
}

.info-btn {
    width: 100%;
}

#container2 {
    display: flex;
    gap: 10px;
    /* Spaziatura tra gli elementi */
    align-items: center;
}

#containerCampi {
    display: flex;
    align-items: center;
    /* Allinea verticalmente gli elementi */
    justify-content: start;
    /* Posiziona gli elementi all'inizio del contenitore */
    gap: 10px;
}

#containerCampi label {
    font-size: 14px;
    /* Puoi regolare la dimensione del testo della label se necessario */
    color: #ffffff;
    /* Colore del testo della label */
    width: 50%;
}
#containerCampi input {
    font-size: 14px;
    /* Puoi regolare la dimensione del testo della label se necessario */
    color: #ffffff;
    /* Colore del testo della label */
    width: 45%;
}
#containerCampi select {
    font-size: 14px;
    /* Puoi regolare la dimensione del testo della label se necessario */
    color: #ffffff;
    /* Colore del testo della label */
    width: 45%;
}
.bn30 {
    border: 5px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 2px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
